{% extends "core/base.html" %}
{% load crispy_forms_tags %}
{% load static %}
{% block content %}
{% csrf_token %}

<div id="map"></div>
<div class="content-section">
<div id="golf-courses">
    <h2>Golf Courses Near You</h2>
    <p id="location"></p>
    </div>
    <ul>
        {% for course in golf_courses %}
        <li>
            <div class="content-section">
            <strong>{{ course.name }}</strong><br>
            Address: {{ course.address }}<br>
            Rating: {% if course.rating %}{{ course.rating }}{% else %}N/A{% endif %}<br>
            Distance: {{ course.distance }}
            <div>
            <br>
            <a href="https://maps.google.com/?q={{ course.latitude }},{{ course.longitude }}" target="_blank" class="btn btn-primary direction-button">Get Directions</a>
            </div>
            </div>
        </li>
        {% endfor %}
    </ul>

</div>

<!-- Load Google Maps JavaScript API -->
<script async src="https://maps.googleapis.com/maps/api/js?key={{key}}&loading=async&callback=initMap">
</script>




<script>


    function getUserLocation() {
    console.log("getUserLocation function called");
    if (navigator.geolocation) {
        navigator.geolocation.getCurrentPosition(function(position) {
            var latitude = position.coords.latitude;
            var longitude = position.coords.longitude;
            console.log("Latitude: " + latitude + " Longitude: " + longitude);
            
            // AJAX request to send user's location data to Django view
            $.ajax({
                type: "POST",
                url: "{% url 'find-golf-courses' %}",
                data: {
                    'latitude': latitude,
                    'longitude': longitude,
                    'csrfmiddlewaretoken': '{{ csrf_token }}'
                },
                success: function(response) {
                    // Call initMap after successfully retrieving user location
                    initMap();
                    // Handle success response if needed
                },
                error: function(xhr, errmsg, err) {
                    // Handle error if needed
                }
            });
        });
    } else {
        // Geolocation not supported
        console.log("Geolocation is not supported by this browser.");
    }
}

// Call getUserLocation function when the page loads
window.onload = getUserLocation;

function initMap() {
        console.log("initMap function called");
        // get user's current location from the view
        var pos = {
            lat: {{ user_lat }},
            lng: {{ user_lng }}
        };
        

        // Create a map centered on the user's location
        var infowindow = new google.maps.InfoWindow();
        var map = new google.maps.Map(document.getElementById('map'), {
            center: pos,
            zoom: 12
        });

        // Add a marker for the user's location
        var marker = new google.maps.Marker({
            position: pos,
            map: map,
            title: 'You are here'
        });

        // Add markers for golf courses
        var golfCourses = [
            {% for course in golf_courses %}
                {
                    name: "{{ course.name }}",
                    location: { lat: {{ course.latitude }}, lng: {{ course.longitude }} }
                },
            {% endfor %}
        ];

        golfCourses.forEach(function (course) {
            var marker = new google.maps.Marker({
                position: course.location,
                map: map,
                title: course.name
            });
        });
    }

</script>

{% endblock %}
