{% extends "core/base.html" %}
{% load crispy_forms_tags %}
{% block content %}
{% csrf_token %}
<main role="main" class="container">
    <div class="row">
      <div class="col-md-8 mt-5">
        <h2 class="mb-4">Welcome to Birdie-iView</h2>
        <p class="lead">
          Your ultimate companion for managing your golfing experience with ease. Whether you're a seasoned golfer or just starting out, Birdie-iView provides a range of tools to help you elevate your game and make the most of every round.
        Login or Register below to get started.</p>
        {% if user.is_authenticated %}
        <div class="list-group-item disabled">
          <span class="text-muted me-2">Welcome,</span>
          <span>{{ user.username }}</span>
        </div>
        <div class="list-group">
          <a href="{% url 'find-golf-courses' %}" class="list-group-item list-group-item-action">Find a Course</a>
          <a href="{% url 'start-round' %}" class="list-group-item list-group-item-action">Start Round</a>
          <a href="{% url 'clubs' %}" class="list-group-item list-group-item-action">Add Clubs</a>
          <a href="{% url 'profile' %}" class="list-group-item list-group-item-action">Profile</a>
          {% endif %}
          <!-- if user is not logged in  -->
          {% if not user.is_authenticated %}
          <a href="{% url 'find-golf-courses' %}" class="list-group-item list-group-item-action">Find a Course</a>
          <a href="{% url 'register' %}" class="list-group-item list-group-item-action">Register</a>
          <a href="{% url 'login' %}" class="list-group-item list-group-item-action">Login</a>
          {% endif %}
        </div>
      </div>
    </div>
</main>

{% endblock %}
